<h3>Mon feed</h3>

<div class="main">
  <ng-container *ngIf="isLoaded; else notLoaded">
    <div class="single-card">
      <mat-card *ngFor="let post of homePosts; let i = index">
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>{{ post.user.username }} <i class="material-icons arrow-icon">arrow_forward_ios</i> {{ post.name }} <span class="subtitle_date">- {{ post.done_at | date }}</span></mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
          <h4>Liste des exercices</h4>
          <ul>
            <li *ngFor="let exercise of post.exercises">{{ exercise.wording }}</li>
          </ul>
        </mat-card-content>

        <mat-card-actions>
          <button mat-button *ngIf="authService.isLoggedIn() && areFriends(post.user.id_user)"
                  (click)="deleteFriend(post.user.id_user, post.user.username)">
            Retirer l'ami
          </button>
          <button mat-button *ngIf="authService.isLoggedIn() && !areFriends(post.user.id_user)"
                  (click)="addFriend(post.user.id_user, post.user.username)">
            Ajouter ami
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>

  <ng-template #notLoaded>
    <mat-progress-spinner diameter="50"></mat-progress-spinner>
  </ng-template>
</div>
