.full-width {
    width: 100%;
    margin-bottom: 16px;
}

button[mat-raised-button] {
    display: block;
    margin-top: 0.4rem;
}

.filters-form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 3rem;
    gap: 3rem;
}