.exercise-creation-form {
    & form {
        margin-top: 3rem;
        display: flex;
        align-items: center;
        flex-flow: column;
        gap: 2rem;
    }
}

.error-message {
    color: red;
}