<div class="exercise-creation-form">
    <form [formGroup]="form" action="#" (ngSubmit)="submitExerciseCreation()" enctype="multipart/form-data">
        <mat-form-field appearance="fill">
            <mat-label>Nom</mat-label>
            <input matInput type="text" formControlName="exerciseName">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Durée</mat-label>
            <input matInput type="time" formControlName="exerciseDuration">
        </mat-form-field>

        <div class="file_input">
            <button type="button" mat-raised-button (click)="fileInput.click()">Insérer une image</button>
            <input type="file" id="exerciseImage" formControlName="exerciseImage" (change)="onFileSelected($event)" accept=".jpg,.png,.gif,.webp,.jpeg" #fileInput hidden>

            <span class="file-name" *ngIf="selectedFile?.name && !file?.errors?.['invalidExtension']">
                <i class="material-icons success-icon">check</i>
                {{selectedFile?.name}}
            </span>

            <span *ngIf="file?.errors?.['invalidExtension']" class="error-message">
                <i class="material-icons error-icon">close</i>
                L'extension du fichier est invalide !
            </span>
        </div>
        
        <mat-form-field appearance="fill">
            <mat-label>Catégorie</mat-label>
            <mat-select formControlName="exerciseCategory">
                <mat-option *ngFor="let category of categoriesFilter" [value]="category.code">{{ category.wording }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Difficulté</mat-label>
            <mat-select formControlName="exerciseDifficulty">
                <mat-option *ngFor="let difficulty of difficultiesFilter" [value]="difficulty.id">{{ difficulty.wording }}</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Créer l'exercice</button>
    </form>
</div>
