<div class="profile-page">
  <div class="profile-container-edit">
    <h3>Profil</h3>
    <button mat-raised-button color="primary" (click)="profileChangeOpen()"> Modifier mon profil</button>
  </div>

  <div class="profile-edit">
    <h2>Mes infos</h2>

    <div>
      <p>Utilisateur: {{ user.username }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Poids (Kg):
        <ng-container *ngIf="user.weight >= 0; else notProvided">{{ user.weight }}</ng-container>
        <ng-template #notProvided>
          <span class="untold">(Non renseigné)</span>
        </ng-template>
      </p>
      <p>Taille (cm):
        <ng-container *ngIf="user.height >= 0; else notProvided">{{ user.height }}</ng-container>
        <ng-template #notProvided>
          <span class="untold">(Non renseigné)</span>
        </ng-template>
      </p>
      <p>Compte créé le: {{ user.created_at | date:'dd/MM/yyyy' }}</p>
    </div>
  </div>

  <div id="records">
    <h2>Mes records</h2>

    <div id="pb-container">
      <ng-container *ngIf="hasLoaded; else loading">
        <div id="pb-display">
          <mat-card *ngFor="let pb of records">
            <mat-card-header>
              <mat-card-title>{{ pb.exercise.wording }}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
              <p>{{ pb.best_weight }} Kg</p>
              <p>{{ pb.realised_at | date }}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </ng-container>
      <ng-template #loading>
        <div id="pb-loading">
          Loading...
          <mat-progress-spinner diameter="30"></mat-progress-spinner>
        </div>
      </ng-template>
    </div>
  </div>
</div>
