.comments {
    &__comment {
        &__header {
            font-size: 1.2rem;
        }

        &__content {
            text-decoration: none;
        }

        &__footer {
            font-style: italic;
            font-size: 0.8rem;
            margin: 0 0 0.6rem 0.4rem;
        }
    }
}