h3 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1.6rem;
}

.comment {
    margin-bottom: 8px;
}

mat-card {
    padding: 16px;
    width: 50vh;
}

.comment__content p {
    margin: 0;
    font-size: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    gap: 0.4rem;
}

.comment__footer {
    display: flex;
    justify-content: flex-start;
    margin: 8px 0 0 1rem;
    font-size: 0.875rem;
    color: #757575;
}

mat-divider {
    margin-top: 16px;
}

.arrow-icon {
    font-size: 1rem;
}