<ng-container *ngIf="comments">
    <h3>Commentaires</h3>
    <div *ngFor="let comment of comments" class="comment">
        <mat-card>
            <mat-card-content class="comment__content">
                <p>{{ comment.username }} - {{ comment.comment }}</p>
            </mat-card-content>
            <mat-card-footer class="comment__footer">
                <small>{{ comment.created_at | date }}</small>
            </mat-card-footer>
        </mat-card>
        <mat-divider></mat-divider>
    </div>
</ng-container>
