.exercises {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;

    &-filters {
        margin: 2rem 0 4rem 0;
    }
}

h3 {
    font-family: 'Anton', sans-serif;
    color: #353535;
}

.exercises-header {
    margin: 2rem 2rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}