<ng-container>
    <h1>Liste des exercices</h1>
    <div class="exercise-creation">
        <button *ngIf="authService.isLoggedIn()" mat-button [routerLink]="['/exercice-creation']">Créer un exercice</button>
    </div>
    <div class="exercises-filters">
        <app-exercise-filters (filters)="searchFromFilters($event)"></app-exercise-filters>
    </div>
    <div class="exercises">
        <app-exercise-item *ngFor="let exercise of response" [exercise]="exercise"></app-exercise-item>
    </div>
</ng-container>
