<ng-container>
    <div class="exercises-header">
        <h3>Liste des exercices</h3>
        <div class="exercise-creation">
            <button *ngIf="authService.isLoggedIn() || 1===1" mat-raised-button [routerLink]="['/exercice-creation']" color="primary">Créer un exercice</button>
        </div>
    </div>
    <div class="exercises-filters">
        <app-exercise-filters (filters)="searchFromFilters($event)"></app-exercise-filters>
    </div>
    <div class="exercises">
        <app-exercise-item *ngFor="let exercise of response" [exercise]="exercise"></app-exercise-item>
    </div>
</ng-container>
