<div class="register-main">
  <h3>Inscription</h3>
  <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
    <mat-form-field class="full-width">
      <mat-label>Username</mat-label>
      <input matInput id="username" type="text" formControlName="username">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput id="email" type="email" formControlName="email">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput id="password" type="password" formControlName="password">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Submit</button>
  </form>
</div>
