<mat-toolbar class="navbar">
  <div class="navbar__main">
      <a [routerLink]="'/'" class="navbar__title">
          <h1 class="title">IronInsight</h1>
      </a>
      <a mat-button [routerLink]="'/'">Accueil</a>
      <a mat-button [routerLink]="'/exercices'">Exercices</a>
      <a mat-button [routerLink]="'/programmes'">Programmes</a>
      <a mat-button [routerLink]="'/contact'">Contacts</a>
  </div>
  <div class="navbar__profile-section">
      <ng-container *ngIf="authService.isLoggedIn(); else notLoggedIn">
        <div class="navbar__profile-section-logged_user">
          <a mat-icon-button [routerLink]="'/profile'"><mat-icon class="profile-icon">account_circle</mat-icon></a>
          <a mat-button [routerLink]="'/profile'">Profil</a>
        </div>
      </ng-container>
      <ng-template #notLoggedIn>
        <div class="empty_user">
          <a mat-button [routerLink]="'/inscription'">Inscription</a>
          <a mat-button [routerLink]="'/connexion'">Connexion</a>
        </div>
      </ng-template>
  </div>
</mat-toolbar>
