<nav class="navbar">
    <div>
        <a [routerLink]="'/'" class="navbar__title">
            <h1>IronInsight</h1>
        </a>
        <button [routerLink]="'/'">Accueil</button>
        <button [routerLink]="'/exercices'">Exercices</button>
        <button [routerLink]="'/programmes'">Programmes</button>
        <button [routerLink]="'/contact'">Contact</button>
        <button [routerLink]="'/inscription'">Inscription</button>
        <button [routerLink]="'/connexion'">Connexion</button>
    </div>
    <div class="navbar__profile-section">
        <i class="material-icons profile-icon">account_circle</i>
        <a [routerLink]="'/'">Profil</a>
    </div>
</nav>