.full-width {
    width: 100%;
    margin-bottom: 16px;
}

.login {
    text-align: center;
    max-width: 400px;
    margin: 4rem auto;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button[mat-raised-button] {
    display: block;
    width: 100%;
    margin-top: 16px;
}
