<div class="login">
  <h3>Connexion</h3>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <mat-label>Username or email</mat-label>
      <input matInput type="email" formControlName="userOrEmail" placeholder="john@iron.com">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Password">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Connexion</button>
  </form>
</div>
