<mat-card class="item">
    <mat-card-header class="item__header">
        <mat-card-title>
            <h3>{{ exercise.wording }}</h3>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <img mat-card-image [src]="exercise.image" alt="{{ exercise.wording }}" class="item__image">
    </mat-card-content>

    <mat-card-actions class="item__footer">
        <button mat-raised-button color="primary" [routerLink]="['/exercise-detail', exercise.code_exercise]">Voir</button>
    </mat-card-actions>
</mat-card>