.item {
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 15rem;
    max-height: 25rem;
}

img {
    width: 10rem;
    height: 10rem;
    border-radius: 8px;
}

.item__header {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.item__footer {
    display: flex;
    justify-content: center;
}

mat-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

mat-card-title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

mat-card-actions {
    margin-top: 16px;
}

mat-card-content {
    display: flex;
    justify-content: center;
}
