/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-snack-bar-container {
  &.error {
    --mdc-snackbar-container-color: #e84444;
    --mat-mdc-snack-bar-button-color: #000;
    --mdc-snackbar-supporting-text-color: #000;
    --mat-snack-bar-button-color: #000;
  }

  &.success {
    --mdc-snackbar-container-color: #5fe15f;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
    --mat-snack-bar-button-color: #fff;
  }
}

body {
  overflow: hidden visible;
  width: 100vw;
  background-color: #adadad;
}
