<mat-dialog-content>
  <table matSort>
    <thead>
      <tr>
        <th>Ajouter</th>
        <th mat-sort-header="wording">Nom</th>
        <th mat-sort-header="duration">Durée</th>
        <th mat-sort-header="category">Catégorie</th>
        <th mat-sort-header="difficulty">Difficulté</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of data.allExercises">
        <td><mat-checkbox [value]="e.code_exercise!.toString()" [checked]="allChecked.includes(e)" (change)="checkManage(e)" ></mat-checkbox></td>
        <td>{{ e.wording }}</td>
        <td>{{ e.duration }}</td>
        <td> {{ e.category }} </td>
        <td> {{ e.difficulty }} </td>
      </tr>
    </tbody>
  </table>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button type="button" (click)="closeDialog()">Confirmer</button>
</mat-dialog-actions>
