<ng-container *ngIf="program">
  <mat-card class="program-details">
    <mat-card-header>
      <mat-card-title>
        <h1>{{ program.name }}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ program.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <span class="likes-number">{{ program.user_likes.length }} like{{ program.user_likes.length > 1 ? "s" : "" }}</span>
      @if(authService.isLoggedIn()) {
          @if(program.user_likes.includes(userID)) {
            <button mat-button (click)="dislikePost(program.id_program)">Je n'aime plus</button>
          } @else {
            <button mat-button (click)="likePost(program.id_program)">J'aime</button>
          }
      }
    </mat-card-actions>

  </mat-card>

  <mat-divider></mat-divider>

  <div class="exercises">
    <app-exercise-item *ngFor="let exercise of exercises" [exercise]="exercise"></app-exercise-item>
  </div>

  <mat-divider></mat-divider>

  <div class="new-comment">
    <app-comment-input></app-comment-input>
  </div>

  <mat-divider></mat-divider>

  <div class="comments">
    <app-comment-list [programID]="program.id_program"></app-comment-list>
  </div>
</ng-container>
