h3 {
    font-family: 'Anton', sans-serif;
    margin-bottom: 16px;
    color: #353535;
}

.programs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
}

app-program-item {
    display: flex;
    flex-direction: column;
}

.program-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 2rem 0 2rem;
}