h3 {
    margin: 2rem 0 2rem 2rem;
    font-family: 'Anton', sans-serif;
    margin-bottom: 16px;
    color: #353535;
}

button[mat-raised-button] {
    margin-bottom: 16px;
}

.programs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
}

app-program-item {
    display: flex;
    flex-direction: column;
}
